{{- if isset .Site.Taxonomies "categories" }}
{{- if not (eq (len .Site.Taxonomies.categories) 0) }}
<div class="widget panel panel-default">
    <div class="panel-heading">
        <h4>CATEGORIES</h4>
    </div>
    <div class="panel-body">
        <nav>
            {{- range $name, $items := .Site.Taxonomies.categories }}
            <h5>
                <a href="{{ "categories/" | relLangURL }}{{ $name | urlize | lower }}" title="{{ $name | title }}">
                    {{ $name | title }} ({{ $items.Count }})
                </a>
            </h5>
            {{- end }}
        </nav>
    </div>
</div>
{{- end }}
{{- end }}