<ul class="share">
    <li class="presentation">Share this:</li>
    <li class="presentation">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ .RelPermalink }}" target="_blank" rel="nofollow" title="{{ .Title }}">
                                <i class="fa fa-facebook"></i> Facebook
                            </a>
    </li>
    <li class="presentation">
        <a href="https://twitter.com/home?status={{ .Title }} {{ .RelPermalink }}" target="_blank" rel="nofollow" title="{{ .Title }}">
                                <i class="fa fa-twitter"></i> Twitter
                            </a>
    </li>
    <li class="presentation">
        <a href="https://plus.google.com/share?url={{ .RelPermalink }}" target="_blank" rel="nofollow" title="{{ .Title }}">
                                <i class="fa fa-google-plus"></i> Google+
                            </a>
    </li>
    <li class="presentation">
        <a href="http://www.stumbleupon.com/submit?url={{ .RelPermalink }}&amp;title={{ .Title }}" target="_blank"
            rel="nofollow" title="{{ .Title }}">
                                <i class="fa fa-stumbleupon"></i> Stumble
                            </a>
    </li>
    <li class="presentation">
        <a href="http://digg.com/submit?url={{ .RelPermalink }}&amp;title={{ .Title }}" target="_blank"
            rel="nofollow" title="{{ .Title }}">
                                <i class="fa fa-digg"></i> Digg
                            </a>
    </li>
</li>