<div class="row share">
    <div class="col-md-2 text-right">Share this:</div>
    <div class="col-md-2 text-center">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ .RelPermalink }}" target="_blank" rel="nofollow" title="{{ .Title }}">
                                <i class="fa fa-facebook"></i> Facebook
                            </a>
    </div>
    <div class="col-md-2 text-center">
        <a href="https://twitter.com/home?status={{ .Title }} {{ .RelPermalink }}" target="_blank" rel="nofollow" title="{{ .Title }}">
                                <i class="fa fa-twitter"></i> Twitter
                            </a>
    </div>
    <div class="col-md-2 text-center">
        <a href="https://plus.google.com/share?url={{ .RelPermalink }}" target="_blank" rel="nofollow" title="{{ .Title }}">
                                <i class="fa fa-google-plus"></i> Google+
                            </a>
    </div>
    <div class="col-md-2 text-center">
        <a href="http://www.stumbleupon.com/submit?url={{ .RelPermalink }}&amp;title={{ .Title }}" target="_blank"
            rel="nofollow" title="{{ .Title }}">
                                <i class="fa fa-stumbleupon"></i> Stumble
                            </a>
    </div>
    <div class="col-md-2 text-center">
        <a href="http://digg.com/submit?url={{ .RelPermalink }}&amp;title={{ .Title }}" target="_blank"
            rel="nofollow" title="{{ .Title }}">
                                <i class="fa fa-digg"></i> Digg
                            </a>
    </div>
</div>