<div class="widget panel panel-default">
    <div class="panel-heading">
        <h4>
            Follow Us
            <span class="social pull-right">
                <a href="https://www.facebook.com/websnippet.io" title="facebook" rel="nofollow" target="_blank" class="nodecoration">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="https://twitter.com/WebSnippetio" title="twitter" rel="nofollow" target="_blank" class="nodecoration">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="https://plus.google.com/109007174257357268166" title="google+" rel="nofollow" target="_blank" class="nodecoration">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a href="http://feeds2.feedburner.com/WebSnippet" title="rss" target="_blank" class="nodecoration">
                    <i class="fa fa-rss"></i>
                </a>
            </span>
        </h4>
    </div>
    <div class="panel-body">
        <form action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=WebSnippet', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">	    
	    <input type="hidden" value="WebSnippet" name="uri">
	    <input type="hidden" name="loc" value="en_US">  		
  		<div class="form-group">
          <label class="sr-only" for="subemail">Enter your email address</label>
          <div class="input-group">
            <input type="text" id="subemail" name="email" class="form-control" placeholder="Your email address...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="fa fa-fire"></i></button>
            </span>
          </div>
        </div>  
	</form>
    </div>
</div>