<footer>
    <div class="container">
        <div class="text-center social">
            <a href="mailto:hello@websnippet.io" title="email" rel="nofollow">
                <i class="fa fa-envelope"></i>
            </a>
            <a href="https://www.facebook.com/websnippet.io" title="facebook" rel="nofollow" target="_blank">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="https://twitter.com/WebSnippetio" title="twitter" rel="nofollow" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="https://plus.google.com/109007174257357268166" title="google+" rel="nofollow" target="_blank">
                <i class="fa fa-google-plus"></i>
            </a>
            <a href="http://feeds2.feedburner.com/WebSnippet" title="rss" target="_blank">
                <i class="fa fa-rss"></i>
            </a>
        </div>
    </div>
</footer>
{{ template "_internal/google_analytics.html" . }}