<header>
    <div class="logo">
        <a href="/">
                Web <span class="text-danger">{</span><span class="snippet">Snippet</span><span class="text-danger">}</span>
            </a>
    </div>
    <hr />
    <div class="social">
        <a href="https://www.facebook.com/websnippet.io" title="facebook" rel="nofollow">
                <i class="fa fa-facebook"></i>
            </a>
        <a href="https://twitter.com/WebSnippetio" title="twitter" rel="nofollow">
                <i class="fa fa-twitter"></i>
            </a>
        <a href="https://plus.google.com/109007174257357268166" title="google+" rel="nofollow">
                <i class="fa fa-google-plus"></i>
            </a>
        <a href="http://feeds2.feedburner.com/WebSnippet" title="rss">
                <i class="fa fa-rss"></i>
            </a>
    </div>
    <hr />
    <ul class="nav nav-stacked">
        <li role="presentation"><a href="/" title="">Home</a></li>
        <li role="presentation"><a href="/tools-and-resources" title="Tools and Resources">Tools &amp; Resources</a></li>
        <li role="presentation"><a href="/about" title="About">About</a></li>
        <li role="presentation"><a href="/contact" title="Support">Support</a></li>
        <li role="presentation"><a href="/contact" title="Contacts">Contacts</a></li>
    </ul>
</header>