<article class="post">
    <div class="page-header">
        <h2>
            <a href="{{ .RelPermalink }}" title="{{ .Title }}" rel="bookmark">
                {{ .Title }}
            </a>
        </h2>
    </div>
    <div class="meta text-muted">
		{{- if not .Date.IsZero }}
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">
            <i class="fa fa-clock-o"></i>
			{{.Date.Format "January 02, 2006"}}
        </time>
		{{- end }}
		{{- if .Params.Tags }}
        <span>
            <i class="fa fa-tags" aria-hidden="true"></i>
			{{ $len := sub (len .Params.Tags) 1 }}
			{{ range $index, $name := .Params.Tags}}
            	<a href="{{ "tags/" | relLangURL }}{{ . | urlize | lower }}" title="{{ . }}" rel="tag">{{ $name }}</a>
				{{- if not (eq $len $index) }}, {{- end}}
			{{ end }}
        </span>
		{{- end }}
        <span class="pull-right">
            <i class="fa fa-comments"></i>
            <a href="{{ .RelPermalink }}" title="{{ .Title }}">0 comment</a>
        </span>
    </div>
    <div class="content">
        <div class="entry-colors">
            <div class="red"></div>
            <div class="blue"></div>
            <div class="gray"></div>
        </div>
        <p>
			{{- if .Params.thumbnail }}
            <img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}" class="img-thumbnail">
			{{- else }}
			<img src="http://placehold.it/200x150" alt="{{ .Title }}" class="img-thumbnail">
			{{- end }}
			{{- if .Params.Description }}
				{{ .Params.Description }}
			{{- else }}
				{{ .Summary }}
			{{- end }}
        </p>
        <div class="col-md-12 clearfix">
            <a href="{{ .RelPermalink }}" class="more pull-right">Continue reading &rarr;</a>
        </div>
        <div class="row share">
            <div class="col-md-2 col-xs-6  text-right">Share this:</div>
            <div class="col-md-2 col-xs-6 text-center">
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ .RelPermalink }}" target="_blank" rel="nofollow" title="{{ .Title }}">
                    <i class="fa fa-facebook"></i> Facebook
                </a>
            </div>
            <div class="col-md-2 col-xs-6 text-center">
                <a href="https://twitter.com/home?status={{ .Title }}+{{ .RelPermalink }}" target="_blank" rel="nofollow" title="{{ .Title }}">
                    <i class="fa fa-twitter"></i> Twitter
                </a>
            </div>
            <div class="col-md-2 col-xs-6 text-center">
                <a href="https://plus.google.com/share?url={{ .RelPermalink }}" target="_blank" rel="nofollow" title="{{ .Title }}">
                    <i class="fa fa-google-plus"></i> Google+
                </a>
            </div>
            <div class="col-md-2 col-xs-6 text-center">
                <a href="http://www.stumbleupon.com/submit?url={{ .RelPermalink }}&amp;title={{ .Title }}" target="_blank" rel="nofollow" title="{{ .Title }}">
                    <i class="fa fa-stumbleupon"></i> Stumble
                </a>
            </div>
            <div class="col-md-2 col-xs-6 text-center">
                <a href="http://digg.com/submit?url={{ .RelPermalink }}&amp;title={{ .Title }}" target="_blank" rel="nofollow" title="{{ .Title }}">
                    <i class="fa fa-digg"></i> Digg
                </a>
            </div>
        </div>
    </div>
</article>