{{ partial "_header.html" . }}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            {{ partial "_left-menu.html" }}
        </div>
        <div class="col-md-6">
            <article class="post">
                <div class="page-header">
                    <h1>
                        <a href="{{ .RelPermalink }}" title="{{ .Title }}">
                            {{ .Title }}
                        </a>
                    </h1>
                </div>
                <div class="meta text-muted"></div>
                <div class="content">
                    <div class="entry-colors">
                        <div class="red"></div>
                        <div class="blue"></div>
                        <div class="gray"></div>
                    </div>
                    <div class="text-center">
                        {{- if .Params.image }}
                        <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}" class="image-head img-responsive"/>
                        {{- end }}
                    </div>
                    <div class="raw">
                        {{ .Content }}
                    </div>
                    {{partial "widgets/share.html"}}
                </div>
            </article>
        </div>
        <div class="col-md-3">
            {{ partial "widgets/subscribe_form.html" . }}
            {{ partial "widgets/categories.html" . }}
            {{ partial "widgets/taglist.html" . }}
        </div>
    </div>
</div>
{{ partial "_footer.html" . }}